{% extends "veda/home.html" %}
{% load static %}
  {% block icon %}<i class="fas fa-user-circle"></i>{% endblock %}
{% block body_block %}





<!-- <div class="container-fluid">

  <div class="row">

    <div class="col-lg-6">

    </div>

    <div class="col-lg-6">

    </div>

  </div>

</div> -->


<div class="container-box2">
  <div class="row">
    <div class="col-lg-6  col-md-12 col-sm-12 col-xs-12">
      <div class="left-side2-about">
        <img  class="img-fluid image-responsive" src="{% static "images/veda-about.jpeg" %}" alt="">
      </div>

    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bg-color">
      <div class="right-side2-about">
        <p class="right-heading-about">” Hi, I’m Dena”</p>
        <p class="right-para-about">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let
           your users know a little more about you.
           Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the fon​</p>

            </div>
      </div>


  </div>

</div>




<!--insta-link--------------------------->
<div class="container-fluid insta-all">

<h3 class="text-center insta-tag-all"> <a href="#"> @thatssoveda</a></h3>
<div class="row">
   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">

     <a href="">
       <img src="{% static "images/veda3.jpeg" %}" class="img-responsive hvrbox-layer_bottom " style="">

     <div class="hvrbox-layer_top">
       <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
     </div>
</a>
   </div>

   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
     <a href="">
       <img src="{% static "images/v-jacket.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
       </a>
   </div>

   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
     <a href="">
       <img src="{% static "images/insta-4.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
          </a>
   </div>

   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
        <a href="">
       <img src="{% static "images/veda2.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
           </a>
   </div>
   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
        <a href="">
       <img src="{% static "images/veda1.jpeg" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
           </a>
   </div>
   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
        <a href="">
       <img src="{% static "images/veda-book.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
           </a>
   </div>

</div>
</div>



{% endblock %}
