{% extends "veda/home.html" %}
{% load static %}
{% block icon %}<i class="fas fa-phone-alt"></i>{% endblock %}
{% block body_block %}








<!-- <section id="contact">

  <h1 class="section-header">Contact Me-</h1>

  <div class="contact-wrapper">



    <form id="contact-form" class="form-horizontal" role="form" method="post" action="{% url 'contact' %}">
      {% csrf_token %}

      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
        </div>
      </div>

      <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>

      <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
        <div class="button">
          <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
        </div>

      </button>

    </form>



      <div class="direct-contact-container">

        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">City, State</span></i></li>

          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">(212) 555-2368</a></span></i></li>

          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">emailme@gmail.com</a></span></i></li>

        </ul>

        <hr>
        <ul class="social-media-list">
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-codepen" aria-hidden="true"></i></a>
          </li>
        </ul>
        <hr>

        <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

      </div>

  </div>

</section> -->




{% if name %}
<div class="jumbotron text-center">
  <h4>Thanks {{ name }} !</h4>
  <p>Got your Message.</p>
</div>

{% else %}






<div class="container contact">
  <div class="text-center mb-5">
    <h3>Lets Connect !</h3>
  </div>
  <div class="row">


    <div class="col-lg-6">
<div class="contact-form">



      <form method="post" action="https://formsubmit.co/nihaghali554@gmail.com">
          {% csrf_token %}

          <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Full Name" name="name" required>
          </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email" name="from_email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Your Message</label>
          <!-- <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Message" name="message" required> -->
<br>
          <textarea class="form-control" id="w3review" name="message" rows="4" cols="50" required>

            </textarea>

        </div>

        <button type="submit" class="btn btn-secondary send-button">Send</button>
      </form>


</div>
    </div>




    <div class="col-lg-6">
<div class="contact-details">
      <ul class="contact-list">
        <li class="list-item"><i class="fa fa-map-marker fa-lg"><span class="contact-text place">Mumbai, Maharashtra</span></i></li>

        <li class="list-item"><i class="fa fa-phone fa-lg"><span class="contact-text phone"><a href="tel:8552033131" title="Give me a call">8552033131</a></span></i></li>

        <li class="list-item"><i class="fa fa-envelope fa-lg"><span class="contact-text gmail"><a href="mailto:vedashreeadige27@gmail.com" title="Send me an email">vedashreeadige27@gmail.com</a></span></i></li>

      </ul>

    </div>

  </div>
</div>
</div>


  <!-- <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div> -->

</div>


<!-- <hr>
<ul class="social-media-list">
  <li><a href="#" target="_blank" class="contact-icon">
    <i class="fa fa-github" aria-hidden="true"></i></a>
  </li>
  <li><a href="#" target="_blank" class="contact-icon">
    <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li><a href="#" target="_blank" class="contact-icon">
    <i class="fa fa-instagram" aria-hidden="true"></i></a>
  </li>
  <li><a href="#" target="_blank" class="contact-icon">
    <i class="fa fa-codepen" aria-hidden="true"></i></a>
  </li>
</ul>
<hr> -->





<div class="container-fluid insta-all">

<h3 class="text-center insta-tag-all"> <a href="#"> @thatssoveda</a></h3>
<div class="row">
   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">

     <a href="">
       <img src="{% static "images/veda3.jpeg" %}" class="img-responsive hvrbox-layer_bottom " style="">

     <div class="hvrbox-layer_top">
       <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
     </div>
</a>
   </div>

   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
     <a href="">
       <img src="{% static "images/v-jacket.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
       </a>
   </div>

   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
     <a href="">
       <img src="{% static "images/insta-4.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
          </a>
   </div>

   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
        <a href="">
       <img src="{% static "images/veda-mug.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
           </a>
   </div>
   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
        <a href="">
       <img src="{% static "images/veda1.jpeg" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
           </a>
   </div>
   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
        <a href="">
       <img src="{% static "images/veda-book.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
           </a>
   </div>

</div>
</div>


<!-- <div class="hvrbox">
	<img src="img/photos/photo1.jpg" alt="Mountains" class="hvrbox-layer_bottom">
	<div class="hvrbox-layer_top">
		<div class="hvrbox-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.</div>
	</div>
</div> -->








{% endif %}

























{% endblock %}
