{% extends "veda/home.html" %}
{% load static %}
{% block icon %}<i class="fas fa-video"></i>{% endblock %}
<!-- {% block links %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">{% endblock %} -->
{% block body_block %}


<div class="outer ">
  <div class=" middle">  </div>

 <div class="view">
   <div class="mask rgba-black-light align-items-cente">
<!-- Content -->
<div class="container main-cont">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12  white-text text-center intro-films">
      <h1 class="h1-reponsive white-text  pt-md-5  wow fadeInDown films-heading" data-wow-delay="0.3s">MY FILMS</h1>
      <!-- <hr class="hr-light  wow fadeInDown" data-wow-delay="0.4s">
      <h5 class=" mb-4 white-text wow fadeInDown" data-wow-delay="0.4s">TRAVELLER | FILMMAKER</h5> -->
      <div class="divToShowHide">
        <p class="line-1 anim-typewriter">Animation typewriter style using css steps()</p>
      </div>

    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
<!-- Content -->
</div>
</div>
</div>

<div class="film-video">
<h2 class=" text-center film-top">DIRECTOR & CINEMATOGRAPHY SHOWREELS</h2>
<hr class="hr-film">
  <video class="text-center" controls>
    <source src="{% static "videos/film.mp4" %}" type="video/mp4">
        <source src="{% static "videos/film.mp4" %}" type="video/mp4" class="img-responsive">
        Your browser does not support HTML5 video.

      </video>

</div>


<!-- <div class="container text-center yt-videos yt-section">
  <h2>YouTube channel</h2>
<hr class="hr-yt">
</div>

<div class="container text-center">
  <iframe class="youtube-iframe "  src="https://www.youtube.com/embed/O8PZLggXosE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>

<div class="container text-center yt-videos">
  <iframe class="youtube-iframe "  src="https://www.youtube.com/embed/Z36OcqEIHsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<div class="container text-center yt-videos">
<iframe class="youtube-iframe " src="https://www.youtube.com/embed/aZ_UOmlQWjU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div> -->



<div id="myCarousel" class="carousel slide mywork" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators" >
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2" ></li>
    <li data-target="#myCarousel" data-slide-to="1" ></li>
    <li data-target="#myCarousel" data-slide-to="3" ></li>
    <li data-target="#myCarousel" data-slide-to="4" ></li>
    <li data-target="#myCarousel" data-slide-to="5" ></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="flex-container container">
        <div class="films-left">
            <img src="{% static "images/top1.jpeg" %}" alt="Los Angeles">
        </div>
        <div class="films-right border ">
          <h3>My Work</h3>
          <p>Suspendisse ante diam, tincidunt nec mauris in, consequat molestie libero. Proin ac mattis tortor. Fusce vulputate, erat a elementum vulputate, sem ipsum condimentum ipsum, nec gravida enim justo eget turpis.Pellentesque
             habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sodales mi ac sem tempus 
             malesuada.
             Suspendisse ante diam, tincidunt nec mauris in, consequat molestie libero. Proin ac mattis tortor. </p>
        </div>
      </div>

    </div>

    <div class="item">
      <div class="flex-container container">
        <div class="films-left">
            <img src="{% static "images/landing2.jpeg" %}" alt="Los Angeles">
        </div>
        <div class="films-right border">
          <h3>My Work</h3>
          <p>Suspendisse ante diam, tincidunt nec mauris in, consequat molestie libero. Proin ac mattis tortor. Fusce vulputate, erat a elementum vulputate, sem ipsum condimentum ipsum, nec gravida enim justo eget turpis.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sodales mi ac sem tempus malesuada.</p>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="flex-container container">
        <div class="films-left">
            <img src="{% static "images/veda1.jpeg" %}" alt="Los Angeles">
        </div>
        <div class="films-right border">
          <h3>My Work</h3>
          <p>Suspendisse ante diam, tincidunt nec mauris in, consequat molestie libero. Proin ac mattis tortor. Fusce vulputate, erat a elementum vulputate, sem ipsum condimentum ipsum, nec gravida enim justo eget turpis.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sodales mi ac sem tempus malesuada.</p>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="flex-container container">
        <div class="films-left">
            <img src="{% static "images/veda2.png" %}" alt="Los Angeles">
        </div>
        <div class="films-right border">
          <h3>My Work</h3>
          <p>Suspendisse ante diam, tincidunt nec mauris in, consequat molestie libero. Proin ac mattis tortor. Fusce vulputate, erat a elementum vulputate, sem ipsum condimentum ipsum, nec gravida enim justo eget turpis.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sodales mi ac sem tempus malesuada.</p>
        </div>
      </div>
      
    </div>

    <div class="item">
      <div class="flex-container container">
        <div class="films-left">
            <img src="{% static "images/veda1.jpeg" %}" alt="Los Angeles">
        </div>
        <div class="films-right border">
          <h3>My Work</h3>
          <p>Suspendisse ante diam, tincidunt nec mauris in, consequat molestie libero. Proin ac mattis tortor. Fusce vulputate, erat a elementum vulputate, sem ipsum condimentum ipsum, nec gravida enim justo eget turpis.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sodales mi ac sem tempus malesuada.</p>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="flex-container container">
        <div class="films-left">
            <img src="{% static "images/landing2.jpeg" %}" alt="Los Angeles">
        </div>
        <div class="films-right border">
          <h3>My Work</h3>
          <p>Suspendisse ante diam, tincidunt nec mauris in, consequat molestie libero. Proin ac mattis tortor. Fusce vulputate, erat a elementum vulputate, sem ipsum condimentum ipsum, nec gravida enim justo eget turpis.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sodales mi ac sem tempus malesuada.</p>
        </div>
      </div>
    </div>



  </div>



  <!-- Left and right controls -->
  <a class="left carousel-control films-control-left" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" style="color:black"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control films-control-right" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" style="color:black"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




{% endblock %}
{% block js %}<script src="{% static 'js/app.js' %}"></script> {% endblock %}
