<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<!-- username-vedashree
pass-test123 -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Thatssoveda">
  <meta name="author" content="XYZ Design Firm, Developer: John Smith, Designer: Sally Janes, Copywriter: Leslie Brown." />

  <title>{% block title %} ThatsSoVeda {% endblock %}</title>
  <!---jquery------>

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <!-- font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap" rel="stylesheet">




  <!-- bootstrap n css -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- navbar -->

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/> -->




  <link rel="stylesheet" href="/static/css/styles.css?{% now "U" %} ">
  <link rel="stylesheet" href="/static/css/mobile.css?{% now "U" %} ">
  <link rel="stylesheet" href="/static/css/tablet.css?{% now "U" %} ">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- icons -->
  <script src="https://kit.fontawesome.com/7272020985.js" crossorigin="anonymous"></script>



  <!-- javascript -->

  <script src="https://apis.google.com/js/platform.js"></script>
  <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.9/angular.js" data-semver="1.4.9"></script>
  <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.9/angular-route.js" data-semver="1.4.9"></script>

<!--share-->
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6107e691a272040012096140&product=inline-share-buttons" async="async"></script>




</head>

<body class="body">


  <div class="photo-nav-home" ng-controller="HeaderController">


    <section class="top-section">


      <div class="container">
        <div class="row" id="home-top">

          <div class="col-lg-3 col-md-3">
            <div class="changing-icon">
            {% block icon %}<i class="fas fa-home"></i>{% endblock %}
            </div>
          </div>

          <div class="col-lg-6 col-md-6 heading-block">
            <div class="heading">
              <h1> <a href="#">ThatsSoVeda</a></h1>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="social-media">
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-imdb"></i></a>
            </div>
          </div>

        </div>

        <div class="subtitle">
          <p>Filmmaker | Traveller</p>
        </div>

      </div>
    </section>

    <section class="navigation">

      {% url 'home' as home %}
      {% url 'add_Post' as add_Post %}
      {% url 'Blog' as Blog %}
      {% url 'blog_details' as blog_details %}
      {% url 'about' as about %}
      {% url 'films' as films %}
      {% url 'photography' as photography %}
      {% url 'contact' as contact %}
      {% url 'category' as category%}



      <nav class="navbar navbar-expand-lg " >
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>

          <div class="bars">
            <i class="fas fa-bars"></i>
          </div>
        </button> -->

        <div class=" menu-btn" onclick="lockScroll();" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <div class="menu-btn__burger"></div>
         </div>

        <div class="navbar-container collapse navbar-collapse" id="navbarNavDropdown">


          <ul class="navbar-nav">

            <li class="nav-item  {% if request.path == home %} active {% endif %}">
              <a class="nav-link" href="{% url 'home' %}">HOME</a>
              <div class="underline"></div>
            </li>
            <li  class="nav-item {% if request.path == about %} active {% endif %}">
              <a class="nav-link " href="{% url 'about' %}">ABOUT</a>
              <div class="underline"></div>
            </li>
            <li class="nav-item {% if request.path == films %} active {% endif %}">
              <a class="nav-link" href="{% url 'films' %}">FILMS</a>
              <div class="underline"></div>
            </li>
            <li class="nav-item {% if request.path == photography %} active {% endif %}">
              <a class="nav-link" href="{% url 'photography' %}">PHOTOGRAPHY</a>
              <div class="underline"></div>
            </li>


            <!-- {% if cat_menu %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url 'Blog' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BLOG
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item mb-2 mt-2" href="{% url 'Blog' %}">ALL POST</a>

                {% for item in cat_menu %}
                <a class="dropdown-item mb-2 text-uppercase" href="{% url 'category' item %}">{{ item }}</a>
                {% endfor %}
              </div>
            </li>
            {% endif %} -->

            <li class="nav-item {% if request.path == Blog %} active {% endif %}">
              <a class="nav-link" href="{% url 'Blog' %}"> BLOGS </a>
              <div class="underline"></div>
            </li>



            <li class="nav-item {% if request.path == contact %} active {% endif %}">
              <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
              <div class="underline"></div>
            </li>

            <!--if logged in this menu will be shown----------------------->

            {% if user.is_authenticated %}
            <li class="nav-item {% if request.path == add_Post %} active {% endif %}">
              <a class="nav-link" href="{% url 'add_Post' %}">ADD POST</a>
              <div class="underline"></div>
            </li>

            <li class="nav-item {% if request.path == add_Post %} active {% endif %}">
              <a class="nav-link" href="{% url 'add_Photo' %}">ADD PHOTO</a>
              <div class="underline"></div>
            </li>

            <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'add_category' %}">ADD CATEGORY</a>
          <div class="underline"></div>
        </li> -->

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
              <div class="underline"></div>
            </li>


            <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
          <div class="underline"></div>
        </li> -->

            <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">REGISTER</a>
          <div class="underline"></div>
        </li> -->



            {% endif %}

          </ul>
        </div>
      </nav>

    </section>



  </div>


  <div class="photo-scroll-home body-animation">
    {% block body_block %}




    <section>
      <div class="row-fluid imgs-row">
        <div class="col-lg-4 col-md-4 col-sm-4 landing-imgs d-none d-sm-block hide1" style="padding:4px;">
          <img class="" src="{% static "images/top1.jpeg" %}" alt="">
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 landing-imgs" style="padding:4px;">
          <img class="" src="{% static "images/landing2.jpeg" %}" alt="">

        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 landing-imgs d-none d-sm-block hide2" style="padding:4px;">
          <img class="" src="{% static "images/veda1.jpeg" %}" alt="">

        </div>


      </div>
    </section>







    <div class="row">




      <div class="col-lg-9 col-md-12">

        <div class="polaroid">

          <div class="polaroid-inner">

              <img src="{% static "images/ice.jpeg" %}" alt="Santorini" title="Santorini Lorem ipsum dolor sit" />

          </div>



          <div class="polaroid-content">

            <h3 class="polaroid-heading">" The Timeless in you is aware of life's Timelessness "</h3>
            <div class="content">
              <p>Suspendisse ante diam, tincidunt nec mauris in, consequat molestie libero. Proin ac mattis tortor. Fusce vulputate, erat a elementum vulputate, sem ipsum condimentum ipsum,
                nec gravida enim justo eget turpis.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sodales mi ac sem tempus malesuada. </p>


            </div>


            <button type="button" class="btn btn-dark" onclick="location.href='{% url 'about' %}'">
              ABOUT ME
            </button>


          </div>
        </div>

        <!-- ------------------------------------------------------------>
        <div class="on-the-blog">
          <h2>ON THE BLOG</h2>
          <!-- <div class="blog-line"></div> -->

        </div>



        <!-- ------------------------------------------------------------>

        <div class="home-blog">
          {% for post in object_list|slice:":2" %}

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 per-post-home">

            <div class="image-container-home">

              {% if post.Blog_cover_image %}
              <div class="post-left">
                <a href="{% url 'blog_details' post.pk %}">
                  <img class="post-img-home img-fluid" src="{{ post.Blog_cover_image.url }}" alt="post-img" style="object-fit:cover;">
                </a>
              </div>

              {% endif %}
            </div>
            <a class="post-a" href="{% url 'blog_details' post.pk %}">
              <p class="post-category-home"> {{ post.category }}</p>
              <div class="post-right">
                <div class="box-border">
                  <h4 class="post-title-home">
                    {{post.title.title}}
                  </h4>

                  <p class="post-date-home">{{ post.post_date }}</p>
                </div>
              </div>
            </a>
            <!-- <div class="line"></div> -->

          </div>

          {% endfor %}
        </div>

        <div class="text-center" >
          <!-- <button type="button" class="btn btn-light "></button> -->
          <button type="button" style="margin-top:40px;" class="btn btn-md btn-secondary" onclick="location.href='{% url 'Blog' %}'">MORE BLOGS</button>
        </div>



      </div>



      <!---side col----------------------->
      <div class="col-lg-3">

        <div class="insta">




          <div class="youtube-heading">
            <h4>Subscribe to my youtube channel !</h4>
            <div class="yt-button align-center text-center">

              <div style="" class="g-ytsubscribe" data-channelid="UC9O8fLeHsJPNjOvf3N3G3ew" data-layout="full" data-count="hidden"></div>

            </div>

          </div>






          <div class="insta-heading ">

            <h3>Find me on Instagram</h3>
            <p>@thatssoveda</p>
          </div>

          <div class="insta-feed">


            <div class="insta-post insta-home-div hvrbox">
              <a href="">

                <img src="{% static "images/veda1.jpeg" %}">
                <div class="hvrbox-layer_top">
                  <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                </div>
              </a>

            </div>



            <div class="insta-post insta-home-div hvrbox">
              <a href="">
                <img src="{% static "images/veda2.png"%} " class="img-responsive hvrbox-layer_bottom ">
                <div class="hvrbox-layer_top">
                  <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                </div>
              </a>

            </div>


            <div class="insta-post insta-home-div hvrbox">
              <a href="">
                <img src="{% static "images/veda3.jpeg" %}">
                <div class="hvrbox-layer_top">
                  <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                </div>
              </a>

            </div>



            <div class="insta-post insta-home-div hvrbox">
              <a href="">
                <img src="{% static "images/veda-book.png" %}">
                <div class="hvrbox-layer_top">
                  <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                </div>
              </a>

            </div>





          </div>


        </div>
      </div>





    </div>



    <!-- <div class="row">
  <div class="container-fluid">

    <div class="col-lg-9">

      <div class="container work">
        <img class="work-img" src="{% static "images/work.jpeg" %}" alt="Snow" style="width:100%;">
        <div class="centered-work">
          <h2>Suspendisse ante diam, tincidunt nec mauris in, consequat molestie libero.</h2>  </div>
      </div>

    </div>



<div class="col-lg-3">

</div>



  </div>

</div> -->



    <div class="container-box">
      <div class="row">
        <div class="col-lg-6 left-side">

          <div class="quote">
            <p>” I always get to where I’m going by walking away from where I have been.”</p>
            <button type="button" class="btn btn-secondary">PHOTOGRAPHY</button>
          </div>

        </div>
        <div class="col-lg-6 right-side order-first order-md-first order-lg-last">
          <div class="quote-img">

          </div>

        </div>
      </div>

    </div>



    <div class="container-box2">
      <div class="row">
        <div class="col-lg-6 col-xm-6 col-sm-12 " style="padding-right:0;">
          <div class="quote-img2">
            <!-- <img src="{% static "images/aa1.jpeg" %}" alt=""> -->

          </div>
        </div>
        <div class="col-lg-6 col-xm-6 col-sm-12">
          <div class="right-side2">
            <p class="right-heading">” Hi, I’m Dena”</p>
            <p class="right-para">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like
              on your page. I’m a great place for you to tell a story and let your users know a little more about you.​</p>
            <button type="button" class="btn btn-dark">FILMS</button>
          </div>
        </div>


      </div>

    </div>

  {% endblock %}

    <!--insta-link--------------------------->
    <div class="container-fluid insta-all">

    <h3 class="text-center insta-tag-all"> <a href="#"> @thatssoveda</a></h3>
    <div class="row">
       <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">

         <a href="">
           <img src="{% static "images/veda3.jpeg" %}" class="img-responsive hvrbox-layer_bottom " style="">

         <div class="hvrbox-layer_top">
           <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
         </div>
    </a>
       </div>

       <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
         <a href="">
           <img src="{% static "images/v-jacket.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
           <div class="hvrbox-layer_top">
             <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
           </div>
           </a>
       </div>

       <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
         <a href="">
           <img src="{% static "images/insta-4.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
           <div class="hvrbox-layer_top">
             <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
           </div>
              </a>
       </div>

       <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
            <a href="">
           <img src="{% static "images/veda2.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
           <div class="hvrbox-layer_top">
             <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
           </div>
               </a>
       </div>
       <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
            <a href="">
           <img src="{% static "images/veda1.jpeg" %}" class="img-responsive  hvrbox-layer_bottom " style="">
           <div class="hvrbox-layer_top">
             <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
           </div>
               </a>
       </div>
       <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
            <a href="">
           <img src="{% static "images/veda-book.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
           <div class="hvrbox-layer_top">
             <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
           </div>
               </a>
       </div>

    </div>
    </div>









  </div>


  <div class="">
    <section style="height:50px;"></section>
    <!-- <div class="row" style="text-align:center;">
		<h2>Bootstrap Dark Footer UI</h2>
	</div> -->
    <!--Footer ------------>
    <footer class="footer-bs">
      <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
          <div class="heading-footer">
            <h1> <a href="#">ThatsSoVeda</a></h1>
          </div>
          <div class="subtitle-footer">
            <p>Filmmaker | Traveller</p>
          </div>
          <!-- <h2>Logo</h2> -->
          <!-- <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p> -->

        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 footer-nav animated fadeInUp">
          <h4 style="margin-bottom: 20px">Menu —</h4>
          <div class="col-md-6 footer-navbar" >
            <ul class="pages">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'films' %}">Films</a></li>


            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list">
              <li><a href="{% url 'photography' %} " class="font-weight-bold">PHOTOGRAPHY</a></li>
              <li><a href="{% url 'Blog' %}" class="font-weight-bold">BLOG</a></li>
              <li><a href="{% url 'contact' %}" class="font-weight-bold">CONTACT</a></li>
                <!-- {% for item in cat_menu %} -->

              <!-- <li ><a href="{% url 'category' item %}" class="text-uppercase">{{item}}</a></li> -->
              <!-- <li><a href="#">Lifestyle</a></li>
              <li><a href="#">Wellness</a></li> -->
                <!-- {% endfor %} -->
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 footer-social animated fadeInDown">
          <h4>Follow</h4>
          <div class="social-media-footer  mt-5">
            <a href="#" style="padding-left: 0px;"><i class="fab fa-youtube "></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-imdb"></i></a>
          </div>
        </div>
        <div class="col-md-3 footer-ns animated fadeInRight">
          <!-- <h4>Newsletter</h4>
          <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p> -->



          <!-- Begin Mailchimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
          	#mc_embed_signup{background:#f2f2f2; clear:left;  width:270px;


            }

          </style>
          <div id="mc_embed_signup">
          <form action="https://gmail.us1.list-manage.com/subscribe/post?u=9e3da1b5826809af3f7f3c507&amp;id=8a947222f7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate p-0" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
          	<!-- <h2>N E W S L E T E R</h2> -->
            <h4 class="font-weight-bold pb-3">Newsletter</h4>
              <p>Subscribe to my Newsletter to get lastest Blog updates!</p>
          <div class="mc-field-group" style="padding-bottom:0; min-height:auto;">
          	<!-- <label for="mce-EMAIL">Email Address </label> -->
          	<input type="email" value="" name="EMAIL" placeholder="Enter Your Email"class="required email" id="mce-EMAIL">
          </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9e3da1b5826809af3f7f3c507_8a947222f7" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-dark" style="margin-left: 0px;"></div>
              </div>
          </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';
          fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!--End mc_embed_signup-->




<!-- <form  action="{% url 'subscribe' %}" method="POST">
  {% csrf_token %}

        <p>
          <div class="input-group form-group">
            {{ form }}
            <input type="email" name="email" id="email" class="form-control" placeholder="Type Your Email">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
            </span>
          </div>
          </p>
</form> -->



        </div>


        <section style="text-align:center; margin:20px auto auto;">
        <small><p>© 2021 Vedashree Adige |
          Developed by <a href="http://enfoplus.net" style=" color:inherit;font-weight:bold;">Niharika Ghali</a></p></small>
        </section>
      </div>


    </footer>


  </div>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


{% block js %} <script src="{% static 'js/app.js' %}"></script> {% endblock %}

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>
