{% extends "veda/home.html" %}
{% load static %}
{% block icon %}<i class="fas fa-camera"></i>{% endblock %}
{% block body_block %}






<!-- <a href="{% url 'portrait_page' %}">
  <img class="post-img" src="{% static "images/ice.jpeg" %}" alt="post-img" style="object-fit:cover;">
</a>


<br>

<a href="{% url 'landscape_page' %}">
  <img class="post-img" src="{% static "images/ice.jpeg" %}" alt="post-img" style="object-fit:cover;">
</a>

<a href="{% url 'food_page' %}">
  <img class="post-img" src="{% static "images/ice.jpeg" %}" alt="post-img" style="object-fit:cover;">
</a> -->


<div class="container photo-category">


<div class="row">

  <div class="col-lg-4 photo-col">


      <div class="photo-content">
        <a href="{% url 'portrait_page' %}">
          <div class="content-overlay"></div>
          <img class="content-image" src="{% static "images/portrait.jpg" %}">
          <div class="content-details fadeIn-top portrait-text">
            <h3>PORTRAIT</h3>
            <p>- View -</p>
          </div>
        </a>
      </div>


  </div>

  <div class="col-lg-4 photo-col">


      <div class="photo-content ">
        <a href="{% url 'landscape_page' %}" >
          <div class="content-overlay"></div>
          <img class="content-image" src="{% static "images/landscape.jpg" %}">
          <div class="content-details fadeIn-top landscape-text">
            <h3>LANDSCAPE</h3>
            <p>- View -</p>
          </div>
        </a>
      </div>


  </div>

  <div class="col-lg-4 photo-col">


      <div class="photo-content category-3">
        <a href="{% url 'food_page' %}">
          <div class="content-overlay"></div>
          <img class="content-image" src="{% static "images/food.jpg" %}">
          <div class="content-details fadeIn-top food-text">
            <h3>FOOD</h3>
            <p>- View -</p>
          </div>
        </a>
      </div>


  </div>
</div>


</div>






<!--insta-link--------------------------->

<div class="container-fluid insta-all">

<h3 class="text-center insta-tag-all"> <a href="#"> @thatssoveda</a></h3>
<div class="row">
   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">

     <a href="">
       <img src="{% static "images/veda3.jpeg" %}" class="img-responsive hvrbox-layer_bottom " style="">

     <div class="hvrbox-layer_top">
       <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
     </div>
</a>
   </div>

   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
     <a href="">
       <img src="{% static "images/v-jacket.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
       </a>
   </div>

   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
     <a href="">
       <img src="{% static "images/insta-4.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
          </a>
   </div>

   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
        <a href="">
       <img src="{% static "images/veda-mug.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
           </a>
   </div>
   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
        <a href="">
       <img src="{% static "images/veda1.jpeg" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
           </a>
   </div>
   <div class="col-md-2 col-sm-4 col-xs-6 insta-div hvrbox">
        <a href="">
       <img src="{% static "images/veda-book.png" %}" class="img-responsive  hvrbox-layer_bottom " style="">
       <div class="hvrbox-layer_top">
         <div class="hvrbox-text"><i class="fa fa-instagram" aria-hidden="true"></i></div>
       </div>
           </a>
   </div>

</div>
</div>



{% endblock %}
