{% extends 'veda/home.html' %}
{% load static %}
{% block title %} ThatsSoVeda | {{post.title_tag}} {% endblock %}
{% block icon %}<i class="fas fa-edit"></i>{% endblock %}

{% block body_block  %}

<!-- <div class="container">


    <h1>{{ post.title }}</h1>

    <small>By: {{ post.author.first_name }} {{ post.author.last_name }} -

      {% if user.is_authenticated %}
       <a href="{% url 'update_Post' post.pk %}">Edit </a>
        <a href="{% url 'delete_Post' post.pk %}">(Delete) </a>
        {% endif %}

      </small>
      <br>
      {{ post.post_date }}
<hr>
    <br>

{% if post.header_img %}
  <img src="{{ post.header_img.url }}" alt="" height="300px" width="300px" style="object-fit:cover;">
{% endif %}

{% if post.post_img1 %}
  <img src="{{ post.post_img1.url }}" alt="" height="300px" width="300px" style="object-fit:cover;">
{% endif %}



   {{ post.body|safe}}

   <br>
   <br>

   <a href="{% url 'Blog' %}" class="btn btn-primary">Back</a>

</div> -->







<div class="blog-details">



<div class="container border">

<div class="row">

<div class="col-lg-5">

  <div class="blog-heading">
  {{ post.post_date }}
  <h1 class="blog-title">{{ post.title.title }}</h1>
    <!-- <small>By: {{ post.author.first_name }} {{ post.author.last_name }}</small> -->
<br>
      {% if user.is_authenticated %}
       <a href="{% url 'update_Post' post.pk %}">Edit </a>
        <a href="{% url 'delete_Post' post.pk %}">(Delete) </a>
        {% endif %}

</div>

</div>


<div class="col-lg-7">

<div class="main-img">
  {% if post.Blog_cover_image %}


    <img class="header_img img-fluid" src="{{ post.Blog_cover_image.url }}" alt=""  style="object-fit:cover;">






  {% endif %}


</div>


</div>




</div>




<!-- ----------------------------------------------------------->


<!-- <div class=" text-center mt-5">

    <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="col-lg-4 col-md-6">
                      {% if post.Blog_post_image_1 %}
                        <img class="img-fluid" style="width:350px; height:180px; object-fit:cover;" src="{{ post.Blog_post_image_1.url }}">
                      {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                        {% if post.Blog_post_image_2 %}
                        <img class="img-fluid" style="width:350px; height:180px; object-fit:cover;" src="{{ post.Blog_post_image_2.url }}">
                       {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                        {% if post.Blog_post_image_3 %}
                        <img class="img-fluid" style="width:350px; height:180px; object-fit:cover;" src="{{ post.Blog_post_image_3.url }}">
                      {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                      {% if post.Blog_post_image_4 %}
                        <img class="img-fluid" style="width:350px; height:180px; object-fit:cover;" src="{{ post.Blog_post_image_4.url }}">
                    {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                        {% if post.Blog_post_image_5 %}
                        <img class="img-fluid" src="{{ post.Blog_post_image_5.url }}">
                      {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                      {% if post.Blog_post_image_6 %}
                        <img class="img-fluid" src="{{ post.Blog_post_image_6.url }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-dark w-auto" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next bg-dark w-auto" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div> -->


<!-- Top content -->
<div class="top-content">


    <div class="container-fluid">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto  slider-row" role="listbox">

                <div class="carousel-item slider-column col-12 col-sm-6 col-md-4 col-lg-3 active">
                    {% if post.Blog_post_image_1 %}
                    <img src="{{ post.Blog_post_image_1.url }}" class="img-fluid mx-auto d-block hover-shadow cursor " onclick="openModal(); currentSlide(1)" alt="img1">
                      {% endif %}
                </div>
                <div class="carousel-item  slider-column col-12 col-sm-6 col-md-4 col-lg-3">
                  {% if post.Blog_post_image_2 %}
                    <img src="{{ post.Blog_post_image_2.url }}" class="img-fluid mx-auto d-block hover-shadow cursor"  onclick="openModal(); currentSlide(2)" alt="img2">
                      {% endif %}
                </div>
                <div class="carousel-item  slider-column col-12 col-sm-6 col-md-4 col-lg-3">
                  {% if post.Blog_post_image_3 %}
                    <img src="{{ post.Blog_post_image_3.url }}" class="img-fluid mx-auto d-block hover-shadow cursor" onclick="openModal();   currentSlide(3)"  alt="img3">
                    {% endif %}
                </div>
                <div class="carousel-item  slider-column col-12 col-sm-6 col-md-4 col-lg-3">
                  {% if post.Blog_post_image_4 %}
                    <img src="{{ post.Blog_post_image_4.url }}" class="img-fluid mx-auto d-block hover-shadow cursor" onclick="openModal();  currentSlide(4)"  alt="img4">
                    {% endif %}
                </div>
                <div class="carousel-item  slider-column col-12 col-sm-6 col-md-4 col-lg-3">
                  {% if post.Blog_post_image_5 %}
                    <img src="{{ post.Blog_post_image_5.url }}" class="img-fluid mx-auto d-block hover-shadow cursor" onclick="openModal();   currentSlide(5)"  alt="img5">
                      {% endif %}
                </div>
                <div class="carousel-item  slider-column col-12 col-sm-6 col-md-4 col-lg-3">
                  {% if post.Blog_post_image_6 %}
                    <img src="{{ post.Blog_post_image_6.url }}" class="img-fluid mx-auto d-block hover-shadow cursor" onclick="openModal();  currentSlide(6)" alt="img6">
                      {% endif %}
                </div>
                <!-- <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3r">
                    <img src="{{ post.Blog_post_image_1.url }}" class="img-fluid mx-auto d-block" alt="img7">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src="{{ post.Blog_post_image_1.url }}" class="img-fluid mx-auto d-block" alt="img8">
                </div> -->
            </div>
            <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev" style="background-color:black;width:20px;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next" style="background-color:black;width:20px;">
                <span class="carousel-control-next-icon " aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


</div>



<!---lightbox model-------------------------------->


<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
        {% if post.Blog_post_image_1 %}
      <img src="{{ post.Blog_post_image_1.url }}" style="width:100%;" class="model-img">
        {% endif %}
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      {% if post.Blog_post_image_2 %}
    <img src="{{ post.Blog_post_image_2.url }}" style="width:100%" class="model-img">
      {% endif %}
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      {% if post.Blog_post_image_3 %}
    <img src="{{ post.Blog_post_image_3.url }}" style="width:100%" class="model-img">
      {% endif %}
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      {% if post.Blog_post_image_4 %}
    <img src="{{post.Blog_post_image_4.url}}" style="width:100%" class="model-img">
      {% endif %}
    </div>

    <div class="mySlides">
      <div class="numbertext">5 / 4</div>
      {% if post.Blog_post_image_5 %}
    <img src="{{ post.Blog_post_image_5.url }}" style="width:100%" class="model-img">
      {% endif %}
    </div>
    <div class="mySlides">
      <div class="numbertext">6 / 4</div>
      {% if post.Blog_post_image_6 %}
    <img src="{{ post.Blog_post_image_6.url }}" style="width:100%" class="model-img">
      {% endif %}
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- <div class="caption-container">
      <p id="caption"></p>
    </div> -->

<!-- <div class="row">
    <div class="column">
      {% if post.Blog_post_image_1 %}
      <img class="demo cursor" src="{{ post.Blog_post_image_1.url }}" style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
  {% endif %}
    </div>
    <div class="column">
      {% if post.Blog_post_image_2 %}
      <img class="demo cursor" src="{{ post.Blog_post_image_2.url }}" style="width:100%" onclick="currentSlide(2)" alt="Snow">
{% endif %}
    </div>
    <div class="column">
      {% if post.Blog_post_image_3 %}
      <img class="demo cursor" src="{{ post.Blog_post_image_3.url }}" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
{% endif %}
    </div>
    <div class="column">
        {% if post.Blog_post_image_4 %}
      <img class="demo cursor" src="{{ post.Blog_post_image_4.url }}" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
{% endif %}
    </div>

    <div class="column">
        {% if post.Blog_post_image_5 %}
      <img class="demo cursor" src="{{ post.Blog_post_image_5.url }}" style="width:100%" onclick="currentSlide(5)" alt="Northern Lights">
{% endif %}
    </div>
    <div class="column">
        {% if post.Blog_post_image_6 %}
      <img class="demo cursor" src="{{ post.Blog_post_image_6.url }}" style="width:100%" onclick="currentSlide(6)" alt="Northern Lights">
{% endif %}
    </div>
</div> -->
  </div>
</div>





<style>



.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}
</style>











<!-- ---------------------------------------------->






<div class="post-body">
  {{ post.body|safe}}
</div>


</div>


<div class="back-btn text-center mt-5 mb-5">
  <a href="{% url 'Blog' %}" class="btn btn-dark btn-md">Back</a>
</div>



</div>










{% endblock %}
